
tr input {
    width: 30px;
    text-align: center;
}

table { 
    border-collapse: collapse; 
    font-family: Calibri, sans-serif; 
}

colgroup, thead, tbody { 
    border: solid medium; 
}

td, tr { 
    border: solid thin; 
    height: 1.5em; 
    width: 1.5em; 
    text-align: center; 
    padding: 0; 
}

.centered {
    width:300px;
    margin:0px auto;
}

.incorrect {
    color: red;
    border: 1px solid red;
}

.form-with-btn {
    display: inline;
}

.sudoku-img {
    max-width: 50%;
    margin:0px auto;
    border-radius: 10px;
}

.width-50 {
    max-width:50%;
    margin:0px auto;
}