{% extends "base.html" %}

{% block title %} Welcome! {% endblock %}

{% block content %}

<div class="text-center m-3">

  <h1>Welcome!</h1>

  <img src="/static/images/sudoku.png" alt="sudoku" class="sudoku-img mt-3">
  <br>
  <br>
  <br>

  <form action="/choose_level" method="get" class="mt-5 form-with-btn">
    <button class="btn-light btn-outline-dark">Play Sudoku</button>
  </form>

  &nbsp;

  <button class="btn-light btn-outline-dark" onclick="openModal()">How to Play</button>

    <div class="modal fade" id="howToPlay" tabindex="-1" aria-labelledby="howToPlay" aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">How to Play</h5>
              <button type="button" class="close" aria-label="Close"  onclick="closeModal()">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Fill the grid with your keyboard so that every row, column and 3×3 box contains the digits 1 to 9, without repeating.</p>
                <p>If you make 5 mistakes, you will need to start over with another game. Note: It will even be removed from
                    your saved games if current puzzle is saved!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>

</div>

<script>
    function openModal() {
        document.getElementById("backdrop").style.display = "block"
        document.getElementById("howToPlay").style.display = "block"
        document.getElementById("howToPlay").classList.add("show")
    }
    function closeModal() {
        document.getElementById("backdrop").style.display = "none"
        document.getElementById("howToPlay").style.display = "none"
        document.getElementById("howToPlay").classList.remove("show");
    }

    let modal = document.getElementById('howToPlay');
    

    window.onclick = function(event) {
      if (event.target == modal) {
        closeModal()
      }
    }

    document.querySelector('.active').classList.remove("active")
    document.querySelector('.home').classList.add("active")
</script>

{% endblock %}