{% extends "base.html" %}

{% block title %} Choose a Level {% endblock %}

{% block content %}

<div class="text-center border border-info rounded mt-5 width-50">
    <form method="post">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' %}

        <p class="mt-3">
            {{ field.label }}
            {{ field }}
        </p>

        {% endfor %}

        <button class="btn-light btn-outline-dark mb-3">Submit</button>
    </form>
</div>

{% endblock %}