{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}


<div class="text-center border border-info rounded mt-5 width-50">
    <h1 class="m-3">Login</h1>
   
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}     
        </div>
    {% endif %}
    {% endwith %}
    <br>
    
    <form method="post">
        {{ form.hidden_tag() }}
    
        {% for field in form 
            if field.widget.input_type != 'hidden' %}
    
        <p>
            {{ field.label }}
            {{ field }}
        </p>
    
        {% endfor %}
    
        <button class="btn-light btn-outline-dark mb-4">Submit</button>
    </form>
</div>

{% endblock %}